@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Admin.cshtml";
}
<div style="transform:translateY(20px);">
    <h2 class="text-center"><b class="text-mycolor"><i class="fa-sharp fa-solid fa-unlock"></i> Change</b> Password</h2>
    <p class="text-center text-mycolor fs-4 ms-4" style="transform:translateY(-25px); font-weight:900;">________</p>
</div>
<div class="row">
    <div class="col-sm-6 mx-auto">
        <fieldset>
            <form>
                Old Password
                <input type="password" placeholder="Enter your password...." required class="form-control mb-2" />
                New Password
                <input type="password" placeholder="Enter your New password..." required class="form-control mb-2" />
                Conform Password
                <input type="password" placeholder="Conform password..." required class="form-control mb-2" />
                <input type="submit" value="Change Now" class="btn btn-outline-primary" />
            </form>
        </fieldset>
    </div>
</div>